---
layout: default
title: oonlab
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="menu-visible">
    <!--menu mobile-->
{% include header.html %}
        <!--wrapper-->
        <div class="wrapper">
            <div class="wrap">
                <article class="big-sticky-post">
                    <div class="post-meta">
                        <span class="post-date">
                            SINCE
                        </span>
                        <span class="post-category">
                            <a href="#">1994</a>
                        </span>
                    </div>
                    <div class="post-thumb">
                        <a href="#">
                            <img alt="" src="/images/monkey.jpg" />
                        </a>
                    </div>
                    <h1>
                        <a href="#">
                            Rizky Ariestiyansyah
                        </a>
                    </h1>
                    <div class="post-des">
                        <p>The Master of Procrastinator, Jack of All Trades. A superhero with multilevel superpower, Researcher, Mozilla Tech Speaker and PSF Fellow Member. I wear the same t-shirt everyday, and I have company. That's it!</p>
                    </div>
                </article>

                <!--hightlight news-->
                <div class="tag-news-caption">
                    <p class="fixtext">  #OONLAB</p>
                </div>
                
<div class="grids-outer">
        <div class="grids">
            {% for post in paginator.posts %}
            <div class="grids-item">
                <article class="ciz-post">
                    <div class="post-thumb">
                        <a href="{{ site.url }}{{ post.url}}">
                            <img alt="" src="/images/monkey.jpg" />
                        </a>
                    </div>
                    <h3 class="post-title">
                        <a href="{{ site.url }}{{ post.url}}"> {{post.title}} </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-date">
                                {{ post.date | date_to_string }}
                        </span>
                        <em>/</em>
                        <span class="post-category">
                            {% assign sortedCategories = post.categories | sort %}
                            {% for category in sortedCategories %}
                            <a href="#">{{ category }}</a>
                            {% endfor %}
                        </span>

                    </div>
                    <div class="post-des">
                        <p>{{ post.content | strip_html | truncate: 100 }}</p>
                    </div>
                </article>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="paging-outer">
            <div class="paging">
                {% if paginator.previous_page %}
                <a class="prev page-numbers" href="/page{{ paginator.previous_page }}">Prev</a>
                {% else %}
                <span class="previous">Previous</span>
                {% endif %}
                <span class="page_numbers">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
                {% if paginator.next_page %}
                <a class="next page-numbers" href="/page{{paginator.next_page}}">Next</a>
                {% else %}
                <span class="next ">Next</span>
                {% endif %}
            </div>
        </div>
            </div>
        </div>

{% include footer.html %}
</body>
</html>