<nav class="menu-res hidden-lg hidden-md ">
    <div class="menu-res-inner">
        <ul>
            {% for nav in site.navigation %}
            {% if nav.child %}
            <li class="menu-item-has-children">
                <a href="#"> {{nav.title}} </a>
                <ul class="sub-menu">
                {% for item in nav.child %}
                    <li>
                        <a href="{{item.url}}">{{item.title}}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% else %}
            <li>
                <a href="{{nav.url}}">{{nav.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
<!--preload-->
<div class="loader" id="page-loader">
    <div class="loading-wrapper">
        <p>Loading<span>.</span><span>.</span><span>.</span></p>
    </div>
</div>
<!--page-->
<div class="page">
    <div class="mobile-bar hidden-lg hidden-md">
        <div class="menu-icon-mobile hidden-lg hidden-md">
            <i class="fa fa-navicon"></i>
            <span>MENU</span>
        </div>
        <div class="search-icon-mobile">
            <i class="fa fa-search"></i>
        </div>
        <div class="search-box-mobile">
            <form>
                <input type="search" value="" placeholder="Begin typing..." class="txt-search">
            </form>
        </div>
    </div>
    <!--<div class="logo-show">
        <a href="#" class="logo">
            <img alt="" src="/images/logo1.png" />
        </a>
    </div>-->

    <nav class="menu-main menu-show hidden-sm hidden-xs">
        <div class="menu-main-inner">
            <ul class="hidden-sm hidden-xs">
                {% for nav in site.navigation %}
                {% if nav.child %}
                <li class="menu-item-has-children">
                    <a href="#"><i class="fa fa-home"></i> {{nav.title}} </a>
                    <ul class="sub-menu">
                        {% for item in nav.child %}
                        <li>
                            <a href="{{item.url}}">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                        </li>
                        {% else %}
                        <li>
                        <a href="{{nav.url}}">{{nav.title}}</a>
                        </li>
                 {% endif %}
                {% endfor %}
            </ul>
            <div class="search-icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="search-box">
                <form>
                    <input type="search" value="" placeholder="Begin typing..." class="txt-search">
                </form>
            </div>
        </div>
    </nav>