<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet" />
    <!-- Vender -->
    <link href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}"rel="stylesheet" />
    <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet" />
    <link href="{{ "/css/swiper.min.css" | prepend: site.baseurl }}" rel="stylesheet" />
    <!-- Main CSS (SCSS Compile) -->
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet" />
    <!-- JavaScripts -->
    <!--<script src="js/modernizr.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>