---
layout: default
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}
        <!--wrapper-->
        <div class="wrapper">
            <div class="wrap">


                <div class="article-fullpage">
                    <div class="article-bar">
                        <span>Tuesday, May 9, 2017</span>


                        <div class="detai-social">
                            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" class="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="google">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                        </div>

                    </div>

                    <h1>
                        {{page.title}}
                    </h1>

                    <div class="sapo">
                        {% if page.sub_description %}
                        <p>{{page.sub_description}}</p>
                        {% endif %}
                    </div>
                    <div class="post-content text-justify">
                        {{content}}
                    </div>

                </div>
                <!---->
                <div class="detail-bottom">

                    <!-- <div class="single-tag single-info">
                        <p class="caption"><span>Tags Cloud</span> </p>
                        <div class="tags">
                            <a href="#"> spotlight</a>
                            <a href="#"> max in</a>
                            <a href="#"> special</a>
                            <a href="3"> cloud </a>
                            <a href="#"> spotlight</a>
                            <a href="#"> Lorem text</a>
                            <a href="3"> review</a>
                            <a href="#"> spotlight</a>

                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!--bottom-->
    </div>
</div>

{% include footer.html %}
</body>
</html>
