---
layout: default
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
        <!--wrapper-->
        <div class="wrapper">
            <div class="wrap">
                <div class="article-fullpage">
                    <div class="article-bar">
                        <span>{{ page.date | date: "%b %-d, %Y" }}</span>
                        {% include socialheader.html %}
                    </div>
                    <h1>
                        {{page.title}}
                    </h1>

                    <div class="sapo">
                        {% if page.sub_description %}
                        <p>{{page.sub_description}}</p>
                        {% endif %}
                    </div>
                    <div class="post-content text-justify">
                        {{content}}
                    </div>
                </div>
                <div class="detail-bottom">
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
