<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}
        <!--wrapper-->
        <div class="wrapper">
            <div class="wrap">


                <div class="article-fullpage">
                    <div class="article-bar">
                        <span>Tuesday, May 9, 2017</span>


                        <div class="detai-social">
                            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" class="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="google">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                        </div>

                    </div>

                    <h1>
                        {{page.title}}
                    </h1>

                    <div class="sapo">
                        {% if page.sub_description %}
                        <p>{{page.sub_description}}</p>
                        {% endif %}
                    </div>
                    <div class="post-content text-justify">
                        {{content}}
                    </div>

                </div>
                <!---->
                <div class="detail-bottom">

                    <!-- <div class="single-tag single-info">
                        <p class="caption"><span>Tags Cloud</span> </p>
                        <div class="tags">
                            <a href="#"> spotlight</a>
                            <a href="#"> max in</a>
                            <a href="#"> special</a>
                            <a href="3"> cloud </a>
                            <a href="#"> spotlight</a>
                            <a href="#"> Lorem text</a>
                            <a href="3"> review</a>
                            <a href="#"> spotlight</a>

                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="single-info">
                                <p class="caption"><span>RATING</span> </p>
                                <div class="single-rating">
                                    <div class="rating-item">
                                        <strong>1568</strong>
                                        <span>VIEWS</span>
                                    </div>
                                    <div class="rating-item">
                                        <strong>32</strong>
                                        <span>COMMENTS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="single-info">
                                <p class="caption"><span>Share To</span> </p>
                                <div class="single-share">
                                    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" class="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="google">
                                        <i class="fa fa-google-plus-square"></i>
                                    </a>
                                    <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="author-single">
                    {% assign author = site.data.authors[page.author] %}
                    {% if author %}
                    <div class="author-single-inner">
                        <img alt="" src="{{ author.image }}" />
                        <h3>{{ author.name }}</h3>
                        <p>{{ author.bio }}</p>
                        <div class="social-author">
                            <a href="{{ author.facebook }}" class="facebook">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="{{ author.twitter }}" class="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="related-post">
                    <div class="box-detail-caption">
                        <span>YOU MIGHT ALSO LIKE</span>
                    </div>
                    <div class="tags-three">
                        <div class="row">
                            {% assign firstCategory = page.categories | first %}
                            {% assign relatedCount = 0 %}
                            {% for related in site.categories[firstCategory] %}
                                {% unless page.permalink == related.permalink %}
                                    {% assign relatedCount = relatedCount | plus: 1 %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="three-item">
                                    <article class="ciz-post">
                                        <div class="post-thumb">
                                            <a href="#">
                                                <img alt="" src="/images/monkey.jpg">
                                            </a>
                                        </div>
                                        <h3 class="post-title">
                                            <a href="{{related.permalink}}"> {{related.title}} </a>
                                        </h3>
                                    </article>
                                </div>
                            </div>
                            {% endunless %}
                            {% if relatedCount == 3 %}
                                {% break %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div id="comments" class="comments-area">
                    {% include disqus.html %}

                </div>
            </div>
        </div>
        <!--bottom-->
    </div>
</div>

{% include footer.html %}
</body>
</html>