<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="congnd91">
    <title>MazPage - Magazine, News, Blog, Shop, Newspaper Template</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet" />
    <!-- Vender -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/swiper.min.css" rel="stylesheet" />
    <!-- Main CSS (SCSS Compile) -->
    <link href="css/main.css" rel="stylesheet" />
    <!-- JavaScripts -->
    <!--<script src="js/modernizr.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
            <p>Loading<span>.</span><span>.</span><span>.</span></p>
        </div>
    </div>
    <!--menu mobile-->
    <nav class="menu-res hidden-lg hidden-md ">
        <div class="menu-res-inner">
            <ul>
                <li class="menu-item-has-children">
                    <a href="index.html"> Home </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="index.html">Default style</a>
                        </li>
                        <li>
                            <a href="index-menu.html">Menu visible</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index-grid.html">Home grid</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index-grid.html">Grid normal</a>
                                </li>
                                <li>
                                    <a href="index-grid-large.html">Grid large</a>
                                </li>
                                <li>
                                    <a href="index-grid-small.html">Grid small </a>
                                </li>
                                <li>
                                    <a href="index-grid-sidebar.html">Grid sidebar </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="index-masonry.html">Home masonry</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index-masonry.html">Masonry normal</a>
                                </li>
                                <li>
                                    <a href="index-masonry-large.html">Masonry large</a>
                                </li>
                                <li>
                                    <a href="index-masonry-small.html">Masonry small </a>
                                </li>
                                <li>
                                    <a href="index-masonry-sidebar.html">Masonry sidebar </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index-slider.html">Home Slider </a>
                        </li>
                        <li>
                            <a href="index-sidebar-left.html">Sidebar Left </a>
                        </li>
                        <li>
                            <a href="index-background.html">Home Background </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="category.html">
                        Category
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="category.html">Category default</a>
                        </li>
                        <li>
                            <a href="category-small.html">Category small </a>
                        </li>
                        <li>
                            <a href="category-grid.html">Category grid </a>
                        </li>
                        <li>
                            <a href="category-masonry.html">Category masonry </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="single.html">Single<span></span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="single.html">Default style</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="single-thum-large.html">Single Feature</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="single-thum-large.html">Feature image format </a>
                                </li>
                                <li>
                                    <a href="single-gallery.html">Gallery format</a>
                                </li>
                                <li>
                                    <a href="single-gallery1.html">Gallery format I</a>
                                </li>
                                <li>
                                    <a href="single-video.html">Video format</a>
                                </li>

                                <li>
                                    <a href="single-audio.html">Music format </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="single-fullwidth.html">Full width</a>
                        </li>
                        <li>
                            <a href="single-fullwidth-special.html">Single special</a>
                        </li>
                        <li>
                            <a href="single-fullwidth-three-column.html">Single three columns</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="about.html">Pages<span></span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="about.html">About me</a>
                        </li>
                        <li>
                            <a href="404.html">Page 404</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>
                        <li>
                            <a href="gallery.html"> Gallery</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="shop.html">SHOP<span></span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="shop.html">Shop Default</a>
                        </li>
                        <li>
                            <a href="shop-sidebar.html">Shop  Sidebar</a>
                        </li>
                        <li>
                            <a href="shop-sidebar-large.html">Shop Sidebar Large</a>
                        </li>
                        <li>
                            <a href="shop-single.html"> Shop Single</a>
                        </li>
                        <li>
                            <a href="cart.html"> Shop Cart</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--menu-icon-->
    <div class="menu-icon hidden-sm hidden-xs">
        <i class="fa fa-navicon"></i>
    </div>
    <!--page-->
    <div class="page">
        <div class="mobile-bar hidden-lg hidden-md">
            <div class="menu-icon-mobile hidden-lg hidden-md">
                <i class="fa fa-navicon"></i>
                <span>MENU</span>
            </div>
            <div class="search-icon-mobile">
                <i class="fa fa-search"></i>
            </div>
            <div class="search-box-mobile">
                <form>
                    <input type="search" value="" placeholder="Begin typing..." class="txt-search">
                </form>
            </div>
        </div>
        <!--header-->
        <header class="header">
            <div class="container">
                <div class="logo-wrap">
                    <a href="#" class="logo">
                        <img alt="" src="images/logo.png" />
                    </a>
                </div>
                <!--menu-main-->
                <nav class="menu-main">
                    <div class="menu-main-inner">
                        <ul class="hidden-sm hidden-xs">
                            <li class="menu-item-has-children">
                                <a href="index.html"><i class="fa fa-home"></i> Home </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="index.html">Default style</a>
                                    </li>
                                    <li>
                                        <a href="index-menu.html">Menu visible</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="index-grid.html">Home grid</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="index-grid.html">Grid normal</a>
                                            </li>
                                            <li>
                                                <a href="index-grid-large.html">Grid large</a>
                                            </li>
                                            <li>
                                                <a href="index-grid-small.html">Grid small </a>
                                            </li>
                                            <li>
                                                <a href="index-grid-sidebar.html">Grid sidebar </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="index-masonry.html">Home masonry</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="index-masonry.html">Masonry normal</a>
                                            </li>
                                            <li>
                                                <a href="index-masonry-large.html">Masonry large</a>
                                            </li>
                                            <li>
                                                <a href="index-masonry-small.html">Masonry small </a>
                                            </li>
                                            <li>
                                                <a href="index-masonry-sidebar.html">Masonry sidebar </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index-slider.html">Home Slider </a>
                                    </li>
                                    <li>
                                        <a href="index-sidebar-left.html">Sidebar Left </a>
                                    </li>
                                    <li>
                                        <a href="index-background.html">Home Background </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="category.html">
                                    Category
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="category.html">Category default</a>
                                    </li>
                                    <li>
                                        <a href="category-small.html">Category small </a>
                                    </li>
                                    <li>
                                        <a href="category-grid.html">Category grid </a>
                                    </li>
                                    <li>
                                        <a href="category-masonry.html">Category masonry </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="single.html">Single<span></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="single.html">Default style</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="single-thum-large.html">Single Feature</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="single-thum-large.html">Feature image format </a>
                                            </li>
                                            <li>
                                                <a href="single-gallery.html">Gallery format</a>
                                            </li>
                                            <li>
                                                <a href="single-gallery1.html">Gallery format I</a>
                                            </li>
                                            <li>
                                                <a href="single-video.html">Video format</a>
                                            </li>

                                            <li>
                                                <a href="single-audio.html">Music format </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="single-fullwidth.html">Full width</a>
                                    </li>
                                    <li>
                                        <a href="single-fullwidth-special.html">Single special</a>
                                    </li>
                                    <li>
                                        <a href="single-fullwidth-three-column.html">Single three columns</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">Pages<span></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="about.html">About me</a>
                                    </li>
                                    <li>
                                        <a href="404.html">Page 404</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="gallery.html"> Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop.html">SHOP<span></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="shop.html">Shop Default</a>
                                    </li>
                                    <li>
                                        <a href="shop-sidebar.html">Shop  Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="shop-sidebar-large.html">Shop Sidebar Large</a>
                                    </li>
                                    <li>
                                        <a href="shop-single.html"> Shop Single</a>
                                    </li>
                                    <li>
                                        <a href="cart.html"> Shop Cart</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="search-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="search-box">
                            <form>
                                <input type="search" value="" placeholder="Begin typing..." class="txt-search">
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--wrapper-->
        <div class="wrapper">
            <div class="wrap">

                <div class="sitemap">
                    <div class="sitemap-inner">
                        <a href="#"><i class="fa fa-home"></i>Home</a>
                        <span>	&#9830;</span>
                        <a href="#">Categories</a>
                        <span>	&#9830;</span>
                        <a href="#">Photography</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--hightlight news-->
                <!--cols-->
                <div class="detail-page">

                    <div class="detail-title">
                        <h1>Magazine in the World </h1>
                    </div>

                    <div class="detail-meta">
                        <div class="post-meta">
                            <span class="post-date">
                                Mar 01, 2017
                            </span><em>/</em>
                            <span class="post-category">
                                <a href="#">Super user</a>
                            </span>
                        </div>
                        <div class="post-dot">
                            <span>♦</span>
                        </div>
                        <div class="detai-social">
                            <a href="#" class="facebook">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#" class="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="#" class="google">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="post-thumbnail">
                            <img alt="" src="images/p5.jpg" />
                        </div>
                        <article class="detail">
                            <p>Donec sollicitudin molestie malesuada. Sed porttitor lectus nibh. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>


                            <h4>Small Heading Style</h4>
                            <p>
                                Qed ut perspiciatis unde omnis iste natus <a href="#"> sit voluptatem</a> accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae et quasi architecto beatae vitae dicta sunt explicabo emo enim ipsam voluptatem.
                            </p>
                            <blockquote>
                                <p>
                                    People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things. <cite>
                                        <a href="#">Steve Jobs </a> – Apple Worldwide Developers’ Conference, 1997
                                    </cite>
                                </p>
                            </blockquote>

                            <img alt="" src="images/s5.jpg" style="float:left;margin:0px 5px 0px 0px 0px; width:300px;" />
                            <p>Red ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
                            <p>
                                Qed ut perspiciatis unde omnis iste natus <a href="#"> sit voluptatem</a> accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae et quasi architecto beatae vitae dicta sunt explicabo emo enim ipsam voluptatem.
                            </p>
                        </article>
                        <!---->
                        <div class="detail-bottom">

                            <div class="single-tag single-info">
                                <p class="caption"><span>Tags Cloud</span> </p>
                                <div class="tags">
                                    <a href="#"> spotlight</a>
                                    <a href="#"> max in</a>
                                    <a href="#"> special</a>
                                    <a href="3"> cloud </a>
                                    <a href="#"> spotlight</a>
                                    <a href="#"> Lorem text</a>
                                    <a href="3"> review</a>
                                    <a href="#"> spotlight</a>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="single-info">
                                        <p class="caption"><span>RATING</span> </p>
                                        <div class="single-rating">
                                            <div class="rating-item">
                                                <strong>1568</strong>
                                                <span>VIEWS</span>
                                            </div>
                                            <div class="rating-item">
                                                <strong>32</strong>
                                                <span>COMMENTS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="single-info">
                                        <p class="caption"><span>Share To</span> </p>
                                        <div class="single-share">
                                            <a href="#" class="facebook">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#" class="twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#" class="google">
                                                <i class="fa fa-google-plus-square"></i>
                                            </a>

                                            <a href="#" class="pinterest">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                            <a href="#" class="youtube">
                                                <i class="fa fa-youtube"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="author-single">

                            <div class="author-single-inner">
                                <img alt="" src="images/avatar.jpg" />
                                <h3>Amanda Smith</h3>
                                <p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>

                                <div class="social-author">
                                    <a href="#" class="facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#" class="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" class="pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a href="#" class="google">
                                        <i class="fa fa-google"></i>
                                    </a>
                                    <a href="#" class="youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                    <a href="#" class="soundcloud">
                                        <i class="fa fa-soundcloud"></i>
                                    </a>
                                    <a href="#" class="linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="related-post">
                            <div class="box-detail-caption">
                                <span>YOU MIGHT ALSO LIKE</span>
                            </div>
                            <div class="tags-three">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="three-item">
                                            <article class="ciz-post">
                                                <div class="post-thumb">
                                                    <a href="#">
                                                        <span class="post-format">
                                                            <i class="fa fa-camera"></i>
                                                        </span>
                                                        <img alt="" src="images/w2.jpg">
                                                    </a>
                                                </div>
                                                <h3 class="post-title">
                                                    <a href="#"> Simply dummy text </a>
                                                </h3>
                                                <div class="post-meta">
                                                    <span class="post-date">
                                                        Mar 01, 2017
                                                    </span>
                                                    <em>/</em>
                                                    <span class="post-category">
                                                        <a href="#">Life style</a>
                                                    </span>
                                                </div>
                                                <div class="post-des">
                                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="three-item">
                                            <article class="ciz-post">
                                                <div class="post-thumb">
                                                    <a href="#">
                                                        <img alt="" src="images/w1.jpg">
                                                    </a>
                                                </div>
                                                <h3 class="post-title">
                                                    <a href="#">Captain who is</a>
                                                </h3>
                                                <div class="post-meta">

                                                    <span class="post-date">
                                                        Mar 01, 2017
                                                    </span>
                                                    <em>/</em>
                                                    <span class="post-category">
                                                        <a href="#">Life style</a>
                                                    </span>
                                                </div>
                                                <div class="post-des">
                                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="three-item">
                                            <article class="ciz-post">
                                                <div class="post-thumb">
                                                    <a href="#">
                                                        <img alt="" src="images/w2.jpg">
                                                    </a>
                                                </div>
                                                <h3 class="post-title">
                                                    <a href="#">My writing here.</a>
                                                </h3>
                                                <div class="post-meta">
                                                    <span class="post-date">
                                                        Mar 01, 2017
                                                    </span>
                                                    <em>/</em>
                                                    <span class="post-category">
                                                        <a href="#">Life style</a>
                                                    </span>
                                                </div>
                                                <div class="post-des">
                                                    <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="comments" class="comments-area">

                            <div class="detail-caption">
                                <span> 19 comments  </span>
                            </div>

                            <ol class="comment-list">
                                <li class="comment">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img alt="" src="images/avatar1.jpg" class="avatar">
                                                <b class="fn"><a href="#">User normal</a></b>
                                            </div>
                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <time datetime="2017-04-18T03:21:01+00:00">
                                                        April 18, 2017
                                                    </time>
                                                </a>
                                            </div>
                                        </footer>
                                        <div class="comment-content">

                                            <p>
                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                            </p>
                                        </div>


                                        <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                                    </article>
                                </li>
                                <li class="comment">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img alt="" src="images/avatar2.jpg" class="avatar">
                                                <b class="fn"><a href="#">John Doe</a></b>
                                            </div>
                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <time datetime="2017-04-18T03:21:01+00:00">
                                                        April 18, 2017
                                                    </time>
                                                </a>
                                            </div>
                                        </footer>
                                        <div class="comment-content">

                                            <p>
                                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
                                        </div>


                                        <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                                    </article>
                                    <ol class="children">
                                        <li class="comment even depth-2 parent">
                                            <article class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img alt="" src="images/avatar.jpg" class="avatar">
                                                        <b class="fn"><a href="#">Admin </a></b>
                                                    </div>
                                                    <div class="comment-metadata">
                                                        <a href="#">
                                                            <time datetime="2017-04-18T03:21:01+00:00">
                                                                April 18, 2017
                                                            </time>
                                                        </a>
                                                    </div>
                                                </footer>
                                                <div class="comment-content">
                                                    <p>
                                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                                    </p>
                                                </div>


                                                <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                                            </article>

                                        </li>
                                    </ol>
                                </li>
                                <li class="comment">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img alt="" src="images/avatar1.jpg" class="avatar">
                                                <b class="fn"><a href="#">Jackie</a></b>
                                            </div>
                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <time datetime="2017-04-18T03:21:01+00:00">
                                                        April 18, 2017
                                                    </time>
                                                </a>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>
                                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                            </p>
                                        </div>
                                        <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                                    </article>
                                </li>
                                <li class="comment">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img alt="" src="images/avatar1.jpg" class="avatar">
                                                <b class="fn"><a href="#">User normal</a></b>
                                            </div>
                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <time datetime="2017-04-18T03:21:01+00:00">
                                                        April 18, 2017
                                                    </time>
                                                </a>
                                            </div>
                                        </footer>
                                        <div class="comment-content">
                                            <p>
                                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                            </p>
                                        </div>
                                        <div class="reply"><a class="comment-reply-link" href="#">Reply</a></div>
                                    </article>
                                </li>

                            </ol>

                        </div>

                        <!--comment form-->
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">
                                <span>Leave a reply</span> <small>
                                </small>

                            </h3>
                            <form action="#" method="post" class="comment-form">
                                <div class="field-item">
                                    <p class="field-caption">
                                        Message <span>*</span>
                                    </p>

                                    <textarea id="comment" name="comment" aria-required="true" placeholder=""></textarea>
                                </div><div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-item">
                                            <p class="field-caption">
                                                Name <span>*</span>
                                            </p>
                                            <input id="author" name="author" placeholder="" type="text" value="" tabindex="1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-item">
                                            <p class="field-caption">
                                                Email <span>*</span>
                                            </p>
                                            <input id="email" name="email" placeholder="" type="text" value="" tabindex="2">
                                        </div>
                                    </div>
                                </div>
                                <p class="form-submit">
                                    <input type="submit" class="my-btn my-btn-dark" value="SUBMIT">

                                </p>
                            </form>
                        </div>

                    </div>

                </div>


                <!--bottom-->
                <div class="bottom">
                    <div class="bottom-inner">
                        <div class="bottom-col">
                            <div class="col-caption">
                                <span>RECENT POST</span>
                            </div>
                            <ul class="recent-post">
                                <li>
                                    <p><a href="single-gallery.html">	Maecenas semper ante sed lectus egestas.</a></p>
                                </li>
                                <li>
                                    <p><a href="single.html">	Proin eget tortor risus.</a></p>
                                </li>

                                <li>
                                    <p><a href="single-fullwidth-special.html">	The beautifull girl.</a></p>
                                </li>

                                <li>
                                    <p><a href="single-fullwidth-three-column.html">	Simply dummy text</a></p>
                                </li>

                                <li>
                                    <p><a href="single-audio.html">	What The Font</a></p>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom-col">
                            <div class="col-caption">
                                <span>TAG CLOUD</span>
                            </div>
                            <div class="list-tags">
                                <p class="hidden"></p>
                                <a href="#"> special</a>
                                <a href="3"> USA</a>
                                <a href="#"> spotlight</a>
                                <a href="#"> Days news</a>
                                <a href="3"> review</a>
                                <a href="#"> spotlight</a>
                                <a href="#"> max in</a>
                                <a href="#"> special</a>
                                <a href="3"> cloud </a>
                                <a href="#"> spotlight</a>
                                <a href="#"> Lorem text</a>
                                <a href="3"> review</a>
                                <a href="#"> spotlight</a>
                                <a href="#"> sky blue</a>
                                <a href="3"> review</a>
                                <a href="#"> hot news</a>
                                <a href="#"> ciz themes</a>
                                <a href="3"> review</a>
                                <a href="#"> spotlight</a>
                                <a href="#"> spotlight</a>
                                <a href="#"> Lorem text</a>
                                <a href="3"> review</a>
                                <a href="#"> spotlight</a>
                                <a href="#"> sky blue</a>
                                <a href="3"> review</a>
                            </div>
                        </div>
                        <div class="bottom-col">
                            <div class="col-caption">
                                <span>INSTAGRAM</span>
                            </div>
                            <ul class="instagram-pics">
                                <li>
                                    <a href="#">
                                        <img src="images/i1.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/i2.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/i3.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/i4.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/i5.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/i6.jpg" alt="" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <footer class="footer">
            <a href="#" class="logo">
                <img alt="" src="images/logo1.png" />
            </a>
            <div class="footer-bar">
                <div class="allright">
                    <p> All rights reserved. Designed by <a href="#"> CizThemes</a></p>
                </div>
                <div class="social-footer">
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="google">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a href="#" class="youtube">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </footer>
    </div>
    <!--go to top-->
    <span class="totop">
        Go to
        <em>TOP</em>
    </span>
    <!--scrip file-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.matchHeight.js"></script>
    <script src="js/main.js"></script>
</body>
</html>